<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  </head>

  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://lh3.googleusercontent.com/proxy/-n0BUnf-0ixBplBgxtUWbsnOUlyDaj03Yn5JFLErEVbKvX8oXSSRd60asdDa3L0TlGGvc5tGEqtNSz4mQ9jeTX7JPB633mIhGaRB7mFstDVS">
        </figure>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
